@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #111827;
}

.btn {
    padding: 12px 40px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    /* py-[18px] px-[50px] h-[66px] flex items-center justify-center text-base uppercase font-secondary font-semibold bg-primary text-white */
}